@import '_variables.scss';
@import '_fonts.scss';

@import 'components/_modal.scss';
@import 'components/_floatingLabelInput.scss';
@import 'components/_statusMessage.scss';
@import 'components/_dropBox.scss';
@import 'components/_draggableField.scss';
@import 'components/_input.scss';
@import 'components/_select.scss';
@import 'components/_button.scss';

// ██████╗░░█████╗░░██████╗███████╗    ██╗░░██╗████████╗███╗░░░███╗██╗░░░░░
// ██╔══██╗██╔══██╗██╔════╝██╔════╝    ██║░░██║╚══██╔══╝████╗░████║██║░░░░░
// ██████╦╝███████║╚█████╗░█████╗░░    ███████║░░░██║░░░██╔████╔██║██║░░░░░
// ██╔══██╗██╔══██║░╚═══██╗██╔══╝░░    ██╔══██║░░░██║░░░██║╚██╔╝██║██║░░░░░
// ██████╦╝██║░░██║██████╔╝███████╗    ██║░░██║░░░██║░░░██║░╚═╝░██║███████╗
// ╚═════╝░╚═╝░░╚═╝╚═════╝░╚══════╝    ╚═╝░░╚═╝░░░╚═╝░░░╚═╝░░░░░╚═╝╚══════╝

body {
	font-family: $mainFont;
	background-color: var(--color-background);
	// text-transform: uppercase;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	webkit-text-decoration-color: var(--color-accent);
	webkit-text-decoration-skip: true;
}

body,
h1,
h2,
p {
	color: var(--color-primary);
}

select {
	// A reset of styles, including removing the default dropdown arrow
	//   appearance: none;
	// Additional resets for further consistency
	background-color: var(--color-background);
	color: var(--color-primary);
	border: 0.1em solid var(--color-primary);
	border-radius: 0.4em;
	padding: 0.4em 1em;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}

input {
	background-color: var(--color-background);
	color: var(--color-primary);
	border: 0.1em solid var(--color-primary);
	border-radius: $borderRadius;
	padding: 0.4em 1em;
	margin: 0;
	height: 2em;
	// width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}



table {
	border: 1px solid var(--color-accent);
	border-radius: $borderRadius;
	border-spacing: 0;
	td,
	th {
		border-bottom: 1px solid var(--color-accent);
		border-left: 1px solid var(--color-accent);
		padding: 0.4em 0.6em;

		&:first-child {
			border-left: none;
		}
	}
	tr:last-child > td {
		border-bottom: none;
	}
	th {
		background-color: var(--color-accent);
		color: var(--color-background);
	}
}

// ░█████╗░██╗░░░░░░█████╗░░██████╗░██████╗███████╗░██████╗
// ██╔══██╗██║░░░░░██╔══██╗██╔════╝██╔════╝██╔════╝██╔════╝
// ██║░░╚═╝██║░░░░░███████║╚█████╗░╚█████╗░█████╗░░╚█████╗░
// ██║░░██╗██║░░░░░██╔══██║░╚═══██╗░╚═══██╗██╔══╝░░░╚═══██╗
// ╚█████╔╝███████╗██║░░██║██████╔╝██████╔╝███████╗██████╔╝
// ░╚════╝░╚══════╝╚═╝░░╚═╝╚═════╝░╚═════╝░╚══════╝╚═════╝░

#mainContainer {
	margin: 0 20%;

	@media only screen and (max-width: 900px) {
		margin: 0 10%;
	}

	@media only screen and (max-width: 400px) {
		margin: 0 5%;
	}
}

.halfWidth {
	width: 49%;
}

.fullWidth {
	width: 100%;
}

.halfWidthContainer {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
}

.centerContentsVH {
	display: flex;
	align-items: center;
	justify-content: center;
}

.centerContentsV {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.optionSection {
	margin-bottom: 0.5em;

	.optionHeader {
		margin: 0;
		font-size: $fontSizeH3;
		font-weight: 600;
		text-transform: uppercase;
	}

	.button {
		width: 100%;
	}
}

// Main page

#mainPage {
	#collectionList {
		margin-top: 2em;
	}
}

// ▀█▀ █░█ █▀▀ █▀▄▀█ █▀▀ █▀
// ░█░ █▀█ ██▄ █░▀░█ ██▄ ▄█

.themeButton {
	font-size: 0.8em;
	margin: 0.2em 0.5em;
	width: 10em;
	height: 3em;
	font-size: 0.7em;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.themeButton:hover {
	font-weight: bold;
}

//
//

#appBar {
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 0.4em 0.6em;
	background-color: var(--color-background);
	border-bottom: $accentBorder;

	#appTitle {
		display: flex;
		justify-content: left;
		align-items: center;

		h1 {
			margin: 0;
			font-size: $fontSizeH2;
		}
	}
}

.iconTextContainer {
	display: flex;

	.iconTextText {
		p {
			margin: 0;
		}
	}
	.iconTextIcon {
		margin-top: 0.2rem;
	}
}

.iconLink:hover .iconTextContainer .iconTextText p {
	text-decoration: underline;
}
