// █▀▄ █▀█ █▀█ █▀█ █▄▄ █▀█ ▀▄▀
// █▄▀ █▀▄ █▄█ █▀▀ █▄█ █▄█ █░█

.dropboxContainer {
	width: 100%;
	border: $accentBorder;
	border-radius: 0.4em;
	margin: 0.4em;

	.dropboxHeader {
		font-size: $fontSizeH2;
		padding: 0.4em 0.6em;
		font-weight: bold;

		color: var(--color-accent);
		position: relative;

		&::before {
			content: ''; /* Create a pseudo-element */
			position: absolute; /* Position the pseudo-element absolutely */
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-background);
			filter: brightness(0.5);
			opacity: 0.4; /* Apply opacity to the pseudo-element */
			z-index: 0;
		}

		* {
			position: relative;
			z-index: 1;
		}
	}

	.dropboxContent {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s ease-in-out;
		// padding: 0.4em 0.6em;

		// * {
		// 	padding: 0.4em 0.6em;
		// }
	}
}
