// █ █▄░█ █▀█ █░█ ▀█▀
// █ █░▀█ █▀▀ █▄█ ░█░

select {
	&.small {
		height: 2.75em;
		padding: 0.5em 1em;
		font-size: 0.8em;
		line-height: 0.8;
	}

	height: 2em;
	padding: 0.5em 1em;
	font-size: 1em;
	line-height: 1;

	-webkit-appearance: none;
	-moz-appearance: none;
}
